{
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:react-hook-form/recommended",
    "plugin:jest-dom/recommended",
    "plugin:tailwindcss/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:homebuddy-app/all",
    "plugin:import/typescript"
  ],
  "ignorePatterns": ["har/*", "config/*"],
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "rules": {
        "import/no-duplicates": 0,
        "no-duplicate-imports": "off",
        "react/prop-types": 0
      }
    },
    {
      "settings": {
        "import/resolver": {
          "typescript": true,
          "node": true
        }
      },
      "files": ["src/components/Common/**", "src/components/Contractor/**"],
      "excludedFiles": ["src/components/!(Common|Contractor)/**", "har/*"],
      "rules": {
        "import/order": [
          "error",
          {
            "groups": ["external", "builtin", "internal", "parent", "sibling", "index"],
            "newlines-between": "always",
            "distinctGroup": true,
            "alphabetize": {
              "order": "asc",
              "caseInsensitive": true
            }
          }
        ],
        "no-console": "warn"
      }
    },
    {
      "files": ["src/**"],
      "extends": ["plugin:testing-library/react"],
      "excludedFiles": ["*spec.ts", "e2e/**", "har/*"],
      "rules": {
        "testing-library/await-async-query": "error",
        "testing-library/await-async-utils": "error",
        "testing-library/prefer-user-event": "error",
        "testing-library/consistent-data-testid": [
          "error",
          {
            "testIdPattern": "^TestId__*",
            "testIdAttribute": ["data-testid"]
          }
        ],
        "testing-library/no-await-sync-events": "error",
        "testing-library/no-await-sync-query": "error",
        "testing-library/no-unnecessary-act": "error",
        "testing-library/no-container": "error",
        "testing-library/no-debugging-utils": "error",
        "testing-library/no-dom-import": "error",
        "testing-library/no-global-regexp-flag-in-query": "error",
        "testing-library/no-manual-cleanup": "error",
        "testing-library/no-render-in-setup": "error",
        "testing-library/no-wait-for-empty-callback": "error",
        "testing-library/no-wait-for-multiple-assertions": "error",
        "testing-library/no-wait-for-side-effects": "error",
        "testing-library/no-wait-for-snapshot": "error",
        "testing-library/prefer-explicit-assert": "error",
        "testing-library/prefer-find-by": "error",
        "testing-library/prefer-presence-queries": "error",
        "testing-library/prefer-query-by-disappearance": "error",
        "testing-library/prefer-screen-queries": "error",
        "testing-library/prefer-wait-for": "error",
        "testing-library/render-result-naming-convention": "error"
      }
    },
    {
      "files": ["**/entities/**", "**/features/**", "**/widgets/**"],
      "rules": {
        "no-relative-import-paths/no-relative-import-paths": 0
      }
    }
  ],
  "plugins": [
    "unused-imports",
    "check-file",
    "react-hooks",
    "react-hook-form",
    "testing-library",
    "jest-dom",
    "@typescript-eslint",
    "prettier",
    "no-relative-import-paths"
  ],
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "rules": {
    "no-relative-import-paths/no-relative-import-paths": [
      "error",
      {
        "allowSameFolder": true,
        "rootDir": "src"
      }
    ],
    // Prettier rules here should be in sync with rules in .prettierrc file
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "tabWidth": 2,
        "singleQuote": true,
        "printWidth": 120,
        "singleAttributePerLine": true
      }
    ],
    // TYPESCRIPT
    "@typescript-eslint/no-floating-promises": "error",
    "@typescript-eslint/await-thenable": "error",
    "@typescript-eslint/no-unnecessary-condition": "error",
    "@typescript-eslint/no-non-null-assertion": "error",
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/consistent-indexed-object-style": ["error", "record"],
    "@typescript-eslint/consistent-type-exports": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "@playwright/test",
            "importNames": ["expect", "test"],
            "message": "Please use expect and test from playwright-test-coverage instead."
          },
          {
            "name": "@growthbook/growthbook-react",
            "message": "Please use more properly typed `utils/growthbook.tsx` instead of `@growthbook/growthbook-react`. It contains all the source package plus enhanced typings and few additions."
          }
        ],
        "patterns": [
          {
            "group": ["*features.local"],
            "importNames": ["LOCAL_ONLY_FEATURES_VALUES"],
            "message": "DON'T IMPORT THIS OBJECT. IT'S EXPORTABLE ONLY FOR TESTS. IN APP CODE IT SHOULDN'T BE IMPORTED!"
          },
          {
            "group": ["entities/*/**", "!entities/*/@x", "features/*/**", "widgets/*/**"],
            "message": "Direct imports from slices are restricted! Please use this pattern instead 'entities/groups'."
          }
        ]
      }
    ],
    // IMPORTS
    "import/no-duplicates": "error",
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 0,
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "import/no-default-export": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "newlines-between": "always"
      }
    ],
    "import/no-anonymous-default-export": 0,
    "no-duplicate-imports": "error",
    "unused-imports/no-unused-imports": "error",
    // REACT & JSX
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "react/destructuring-assignment": 0,
    "react/no-access-state-in-setstate": "warn",
    "react/no-did-update-set-state": 0,
    "react/require-default-props": 0,
    "react/jsx-props-no-spreading": 0,
    "react/react-in-jsx-scope": 0,
    "react/static-property-placement": 0,
    "react/jsx-curly-brace-presence": [
      "error",
      {
        "props": "never",
        "children": "never",
        "propElementValues": "always"
      }
    ],
    "react/state-in-constructor": 0,
    "react/sort-comp": 0,
    "react/no-danger": 0,
    "react/jsx-no-useless-fragment": 0,
    "react/no-multi-comp": 0,
    "react/button-has-type": 0,
    "react/no-array-index-key": 0,
    "react-hooks/exhaustive-deps": 0,
    "react/no-unescaped-entities": 0,
    "react/jsx-key": [
      "error",
      {
        "checkFragmentShorthand": true
      }
    ],
    "jsx-a11y/media-has-caption": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/accessible-emoji": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    // CHECK
    "check-file/folder-naming-convention": [
      "error",
      {
        "src/!(components|pages)/**": "KEBAB_CASE",
        "src/components/**": "PASCAL_CASE",
        "src/pages/**": "PASCAL_CASE",
        "e2e/**": "KEBAB_CASE"
      }
    ],
    "check-file/filename-naming-convention": [
      "error",
      {
        "src/{components,pages}/**/!(use)*.tsx": "PASCAL_CASE",
        "src/{components,pages}/**/use*.{ts|tsx}": "CAMEL_CASE",
        "src/**/!(use)*.ts": "KEBAB_CASE",
        "e2e/**/*.ts": "KEBAB_CASE"
      },
      {
        "ignoreMiddleExtensions": true
      }
    ],
    // OTHERS
    "tailwindcss/no-custom-classname": 0,
    "max-params": ["error", 3],
    "max-classes-per-file": 0,
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "no-useless-backreference": "error",
    "no-useless-call": "error",
    "no-useless-catch": "error",
    "no-useless-computed-key": "error",
    "no-useless-concat": "error",
    "no-useless-constructor": "error",
    "no-useless-escape": "error",
    "no-useless-rename": "error",
    "no-useless-return": "error",
    "no-restricted-syntax": 0,
    "no-undef": 0,
    "no-debugger": "warn",
    "no-console": 0,
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-mixed-operators": 0,
    "no-underscore-dangle": 0,
    "no-param-reassign": 0,
    "no-increment-decrement": 0,
    "no-use-before-define": 0,
    "no-unused-expressions": 0,
    "no-shadow": 0,
    "no-restricted-properties": [
      "error",
      {
        "object": "Object",
        "property": "keys",
        "message": "Please use more precisely typed helper `getKeys(obj)` from src/utils/object.ts. `Object.keys` always returns `string[]` type not actual `(keyof T)[]` for a reason but in 99% cases we sure it will be keys. More details in comments to `getKeys` util"
      }
    ],
    "no-empty-function": "error",
    "no-void": ["error", { "allowAsStatement": true }],
    "prefer-destructuring": 0,
    "prefer-const": 0,
    "prefer-object-spread": 0,
    "newline-before-return": "error",
    "newline-after-var": "error",
    "consistent-return": 0,
    "arrow-body-style": 0,
    "camelcase": 0,
    "curly": ["error", "all"],
    "class-methods-use-this": 0
  },
  "globals": {
    "page": true,
    "browser": true,
    "context": true
  }
}
