.toggle {
  cursor: pointer;
  position: relative;
  width: 34px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;

  input {
    display: none;
  }

  label {
    border-radius: 7px;
    @apply cursor-pointer
    block
    m-0;
    height: 18px;
  }

  input:disabled + label {
    @apply cursor-not-allowed;
    opacity: 0.5;
  }

  input:checked + label {
    span:nth-child(1) {
      @apply ml-0;
    }

    span:nth-child(2) {
      right: -2px;
    }
  }
}

.innerWrapper {
  overflow: hidden;
  border-radius: 7px;
}

.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.2s ease-in 0s;

  &:before,
  &:after {
    width: 50%;
    height: 14px;
    padding: 0;
    line-height: 26px;
    font-size: 9px;

    @apply block
    float-left
    p-0
    text-white
    font-semibold;
  }

  &:before {
    content: attr(data-yes);
    text-transform: uppercase;
    padding-left: 5px;
  }

  &:after {
    content: attr(data-no);
    text-transform: uppercase;
    padding-right: 3px;
    text-align: right;
    @apply text-white bg-slate-50;
  }
}

.switch {
  height: 20px;
  margin: 2px;
  top: -5px;
  bottom: 0;
  right: 12px;
  border-radius: 100%;
  transition: all 0.2s ease-in 0s;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  @apply block bg-white w-5 absolute;
}
