@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'input';
@import 'toastify';
@import 'datepicker';
@import 'text';
@import 'utils';
@import 'react-datepicker/dist/react-datepicker.css';

body {
  position: fixed;
  width: 100%;
  font-family: 'Inter', serif;
}

*,
html {
  scroll-behavior: smooth !important;
}
