@layer utilities {
  .custom-scrollbar {
    scrollbar-width: 20px;
    &::-webkit-scrollbar {
      width: 14px;
      height: 22px;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-slate-50 rounded-xxl;
      background-clip: padding-box;
      border: 8px solid transparent;
      height: 11px;
    }

    &::-webkit-scrollbar-corner {
      @apply bg-slate-100;
    }
  }
  .menu-scrollbar {
    &::-webkit-scrollbar {
      background: transparent;
      width: 14px;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-slate-100 rounded-xxl;
      background-clip: padding-box;
      border: 5px solid rgba(0, 0, 0, 0);
      height: 52px;
    }

    &::-webkit-scrollbar-corner {
      @apply bg-slate-100;
    }
  }
}
