.checkbox {
  user-select: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
  }

  svg {
    margin-left: -2px;
  }
}

.icon {
  outline: none;
  cursor: pointer;
  margin-right: 8px;
  height: 18px;
  width: 18px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
