.header {
  @apply px-4 pb-3 pt-6 h-14 bg-deep-blue-25 rounded-sm relative cursor-pointer flex justify-between border border-transparent;
  min-height: 36px;

  &:hover {
    @apply border-deep-blue-500;
  }

  &Label {
    @apply font-medium absolute transition-all duration-150;

    top: 18px;
    font-size: 14px;

    .optionalMarker {
      @apply text-slate-400;
    }
  }

  &Text {
    @apply text-slate-900 text-sm font-medium truncate pr-2;

    max-width: 95%;

    &.isCancel {
      max-width: calc(100% - 40px);
    }
  }

  &Arrow {
    top: 19px;
    right: 15px;
    @apply absolute transition-all duration-500;

    transform: rotate(0deg);
  }

  &.active {
    @apply border-deep-blue-500;

    .headerLabel {
      @apply text-deep-blue-500;

      .optionalMarker {
        @apply text-slate-500;
      }
    }

    &.small {
      @apply text-slate-900;

      .headerLabel {
        @apply text-slate-900;
      }
    }

    .headerArrow {
      @apply duration-500;

      transform: rotate(180deg);
    }
  }

  .cancel {
    @apply text-base text-slate-300 select-none top-4 absolute;
    right: 39px;

    &.isSmall {
      top: 5px;
    }
  }

  &.filled &Label,
  &.active &Label {
    top: 8px;
    font-size: 11px;
  }

  &.filled &Label {
    @apply text-slate-600;
  }

  &.filled:hover &Label {
    @apply text-deep-blue-500;
  }

  &.active &Label {
    @apply text-deep-blue-500;
  }

  &.error {
    @apply border-red-500;

    .headerLabel {
      @apply text-red-500;
    }
  }

  &.isDisabled {
    @apply bg-slate-25 cursor-not-allowed;
    border-color: transparent;
    .headerLabel,
    .headerText {
      @apply text-slate-400;
    }
  }

  &.small {
    @apply py-2;
    height: 36px;
    min-height: 36px;

    .headerLabel {
      @apply text-sm;
      top: 7px;
    }

    .headerArrow {
      @apply text-sm right-4;
      top: 7px;
    }
  }
}

.body {
  @apply bg-white w-full mt-1 py-2 absolute rounded-sm shadow-sm select-none;
  z-index: 11;

  &::-webkit-scrollbar {
    width: 16px;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-slate-100 rounded-xxl bg-clip-padding;
    border: 6px solid rgba(0, 0, 0, 0);
    height: 52px;
  }

  &.isSearch {
    @apply select-none;
    max-height: 248px;
  }
}

.menuItem {
  @apply px-4 py-2 text-sm font-medium whitespace-nowrap overflow-hidden text-ellipsis;

  &:hover {
    @apply cursor-pointer;
  }
}

.search {
  border: 1px solid transparent;
  background-color: #f6f7fe;
  border-radius: 4px;
  padding: 8px 16px;
  color: #16191d;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  &:focus {
    border: 1px solid #2f55eb;
  }
  &::placeholder {
    color: #16191d;
  }
}

.listWithSearch {
  overflow-y: auto;
  max-height: 188px;
}

.list {
  overflow-y: auto;
}

.titleTooltip {
  position: absolute;
  font-size: 12px;
  left: 4px;
  top: 0px;
  cursor: pointer;
}
