.bubbleWrapper {
  &.isCurrent {
    @apply bg-white text-deep-blue-500 border-deep-blue-500;
  }

  &.isDisabled {
    border-width: 1px;
    border-style: solid;

    @apply bg-white text-deep-blue-200 border-deep-blue-200;
  }
}

.bubble {
  transform: translate(-50%, -50%);
}

.title {
  transform: translateX(-50%);

  &.isCurrent {
    @apply text-slate-900;
  }

  @apply text-slate-400;
}

.error {
  position: absolute;
  z-index: 1;
  top: -7px;
  right: -7px;

  height: 18px;
  width: 18px;

  border-radius: 100%;

  .errorWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;

    transform: translate(-50%, -50%);

    height: 14px;
    width: 14px;

    border-radius: 100%;

    .errorText {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      font-weight: 600;
      font-size: 12px;
      line-height: 16px;

      @apply text-white;
    }

    @apply bg-red-400;
  }

  @apply bg-white;
}
