.sideModalBody {
  @apply overflow-y-scroll flex flex-col flex-1;

  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-deep-blue-100 rounded-xxl bg-clip-padding;
    border: 6px solid rgba(0, 0, 0, 0);
    height: 52px;
  }

  &::-webkit-scrollbar-corner {
    @apply bg-deep-blue-25;
  }
}
